.main-div {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
  .login-page {

    display: flex;
    max-width: 800px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
  

   
  }
  
  .login-logo {
    flex: 1;
    padding: 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-logo img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .login-container {

    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form {
    width: 100%;
    max-width: 400px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .login-button {
    background-color:red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: red;
  }
  
  .error {
    color: red;
    margin-top: 10px;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .login-page {
      flex-direction: column;
    }
  
    .login-logo {
      padding: 20px 0;
    }
  }
  